@import "style.css";

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffb9a4;
}

.header {
  position: fixed;
  width: 100%;
  margin-top: -100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  background: #1d1d1e;
  box-shadow: 0 3px #00000029;
}

.header img {
  width: 47px;
  height: 47px;
}

.container-menu {
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.container-menu li {
  margin-left: 20px;
}

.container-menu li a {
  padding: 10px;
  font-size: 1.225em;
  font-weight: bold;
}

.menu {
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Neue55;
  font-size: 16px;
}

#menu-responsivo {
  display: none;
}

.bg-menu-responsivo {
  position: fixed;
  width: 100%;
  height: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  transition: 0.5s;
  overflow-y: hidden;
  z-index: 1;
}

#fechar-menu {
  position: absolute;
  top: 50px;
  right: 20px;
  padding: 0 8px;
  background: transparent;
  font-family: Neue65;
  font-size: 40px;
  color: #ffb9a4;
  cursor: pointer;
}

.container-menu-responsivo {
  width: 100%;
  text-align: center;
  font-family: Neue55;
}

.container-menu-responsivo a {
  margin-top: 10px;
  padding: 10px;
  text-decoration: none;
  font-size: 24px;
  color: #ffb9a4;
  display: block;
}

.button {
  padding: 10px 20px;
  border: 1px solid #707070;
  border-radius: 10px;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  color: #ffb9a4;
}

.button:hover {
  background: #ffb9a4;
  color: #1d1d1e;
}
/* Final Header */

/* Início Timer*/


.timer-fila {
  max-width: 300px;
  max-height: 100px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.timer-fila table {
  font-family: Neue55;
  margin-top: 24px;
}

.timer-fila th {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 12px;
}

.timer-fila td {
  color: #ffb9a4;
  font-family: Neue55;
}

.timer-fila table tbody {
  font-size: 20px;
  line-height: 2em;
}
/* Final Timer */

/* Início tabelas */
.filas {
  width: 960px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto 30px auto;
  text-align: center;
}

.tipo-jogo {
  box-sizing: border-box;
  width: 960px;
  margin: 100px auto 0 auto;
  padding-bottom: 30px;
  font-family: Neue55;
  color: #ffb9a4;
  font-size: 24px;
}

.tipo-jogo #active {
  display: none;
}

.tipo-jogo ul {
  padding: 0;
  display: block;
}

.tipo-jogo ul li {
  display: inline-block;
  list-style: none;
  font-family: Neue55;
  font-size: 16px;
  margin-right: 10px;
}

.tipo-jogo p {
  margin-top: 20px;
  text-align: center;
}

.fila-item {
  width: 70%;
  padding-bottom: 30px;
}

.fila-item h3 {
  text-transform: uppercase;
  font-family: Neue75;
  color: #fff;
  margin-bottom: 20px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  width: 5px;
  background: rgb(53, 50, 50);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 8px #2e2b2b;
}

.table-scroll {
  height: 220px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 30px;
}

.filas table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  color: #fff;
  font-size: 14px;
  font-family: Neue55;
}

.filas table tr:nth-child(even) {
  background: #090a15;
}

.filas table tr:nth-child(odd) {
  background: #0b0d1b;
}

.filas th {
  background-color: #ffb9a4;
  color: #1d1d1e;
  padding: 5px 10px;
}

.filas td {
  padding: 10px;
}

#container-foto {
  width: 30px;
}

.foto {
  border: 3px solid #f0673e;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.jogo {
  border-left: 2px solid #1d1d1d;
}

.btn-fila {
  margin-top: 50px;
  border: 1px solid #707070;
  outline: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-family: Neue55;
  color: #ffb9a4;
  font-size: 1em;
  cursor: pointer;
}

.btn-fila:hover {
  background: #ffb9a4;
  color: #1d1d1e;
}

/* Responsividade */
@media only screen and (max-width: 767px) {
  .container-menu img {
    width: 30px;
    height: 30px;
  }

  .menu {
    display: none;
  }

  #menu-responsivo {
    display: block;
    cursor: pointer;
  }

  .container-menu {
    width: 300px;
  }

  .tipo-jogo #active {
    display: block;
  }

  .tipo-jogo ul li {
    margin-left: 10px;
    display: none;
  }

  .filas {
    width: 300px;
    flex-wrap: wrap;
  }

  .tipo-jogo {
    width: 300px;
    margin-bottom: 0;
  }

  .fila-item {
    width: 100%;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container-menu {
    width: 768px;
  }
  .menu {
    width: 80%;
  }

  .filas {
    width: 768px;
  }

  .tipo-jogo {
    width: 768px;
  }
  .tipo-jogo ul {
    margin-left: 10px;
  }
}
