
/* Início Modal */
.modal-bg {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.bg-active {
  visibility: visible;
}

.modal {
  background-image: linear-gradient(180deg, #1d1d1d, #1e2033);
  position: relative;
  width: 350px;
  height: 200px;
  border-radius: 6px;
  text-align: center;
}

.modal span {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background: transparent;
  font-family: Neue65;
  font-size: 14px;
  color: #ffb9a4;
}

.modal span:hover {
  background: #ffb9a4;
  color: #1d1d1e;
  cursor: pointer;
}

.modal h3 {
  display: inline-block;
  margin-top: 30px;
  font-family: Neue55;
  font-weight: normal;
}

.modal input {
  display: block;
  outline: none;
  margin: 0 auto;
}

.modal input[type="text"] {
  margin: 0 auto;
  width: 250px;
  padding: 10px;
  border: 1px solid #ffb9a4;
  border-radius: 6px;
  background: transparent;
  font-size: 14px;
  color: #ffb9a4;
}

.modal input[type="submit"] {
  background: transparent;
  margin: 20px auto 0 auto;
  padding: 10px 20px;
  border: 1px solid #707070;
  border-radius: 10px;
  color: #ffb9a4;
  cursor: pointer;
}

.modal input[type="submit"]:hover {
  background: #ffb9a4;
  color: #1d1d1e;
}

.modal input::placeholder {
  color: #ffb9a4;
}
/* Final do Modal */