* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Courier New", Courier, monospace;
  height: 100%;
  width: 100%;
  display: flex;
}

#video-bg {
  position: fixed;
  top: -100px;
  width: 100%;
  opacity: 0.5;
  z-index: -1;
}

.login {
  margin: auto;
  width: 400px;
  background: rgba(0, 0, 0, 0.9);
  padding: 40px;
  border-radius: 6px;
}
.container {
  width: 360px;
  text-align: center;
  margin: 0 auto;
}

.container h1 {
  margin-bottom: 0.7em;
}

.container p {
  font-weight: bold;
  font-size: 1em;
}

.container h1,
p,
.form label {
  color: #ef653c;
}

.form {
  width: 100%;
}

.form label {
  display: block;
  font-size: 1.3em;
  font-weight: bold;
  margin: 10px 0;
  text-align: left;
}

.form input {
  box-sizing: border-box;
  outline: none;
  width: 100%;
  padding: 5px 10px;
  font-size: 1em;
  border-radius: 3px;
  font-family: "Courier New", Courier, monospace;
}

.btn button {
  color: #ef653c;
  margin-top: 25px;
  font-size: 1.3em;
  padding: 5px;
  width: 150px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  outline: none;
  background: none;
}

.btn p {
  margin: 1em 0 1em 0;
}

.btn a {
  color: #fff;
}
