@import "style.css";

/* Header */
.header {
  position: fixed;
  margin-top: -100px;
  width: 100%;
  height: 10%;
  background: #1d1d1e;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px #00000029;
}

.header img {
  width: 47px;
  height: 47px;
}
/* Final do Header */

/* Início do Container Geral */
.container {
  margin: 100px auto 70px auto;
  text-align: center;
}

#welcome {
  padding-top: 32px;
  font-family: Neue75;
  font-size: 18px;
}

#nome {
  font-family: CaveatBold;
}

#select {
  font-family: Neue55;
  font-size: 24px;
}
/* Final do Container Geral */

/* Container das unidades */
.container-unidades {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.unidades img {
  max-width: 180px;
}
/* Final do container das unidades */

/* Responsividade */
@media only screen and (max-width: 767px) {
  .header img {
    width: 30px;
    height: 30px;
  }

  .container {
    width: 300px;
  }

  .container-unidades {
    width: 260px;
    margin: 0 auto;
  }

  #welcome {
    font-size: 14px;
  }

  #nome {
    width: 100px;
  }

  #select {
    font-size: 18px;
  }

  .unidades {
    margin-top: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 500px;
  }
  .container-unidades {
    margin: auto;
    width: 500px;
  }

  .unidades img {
    max-width: 220px;
  }

  #welcome {
    font-size: 16px;
  }

  #nome {
    width: 150px;
  }

  #select {
    font-family: Neue55;
    font-size: 24px;
  }
}

@media only screen and (min-width: 960px) {
  .container {
    width: 600px;
  }
  .container-unidades {
    margin: auto;
    width: 600px;
  }

  .unidades img {
    max-width: 280px;
  }
}
